.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar-link {
    text-decoration: none;
    font-size: 22px;
    color: rgb(170, 183, 194);

}

.wrapper {
    height: 60px;
    width: 100%;
    background-color: rgb(110, 104, 104);
    padding-top: 9px;

}